body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('Matemática-para-concursos.png');
    background-color: #000000;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .calculadora {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    font-family: "monospace";
    font-size: 40px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 1rem;
    margin-top: 40px;
    align-items: center;
    border: solid 2px cornsilk;
    border-radius: 20px;
  }